include pyproject.toml

# Include the README
include *.rst

# Include the license file
include LICENSE.txt

# Include the data files
recursive-include src *.py

# Exclude data files
recursive-exclude tests *
recursive-exclude images *.png
recursive-exclude docs *
recursive-exclude docsrc *
recursive-exclude media *
recursive-exclude visualizer_old *
